In [66]:
import pandas as pd

In [255]:
#se puede mejorar añadiendo una funcion que descargue la data automatico 
data=pd.read_excel('REPORTE_ACTIVIDAD.xlsx')
datos = data[data['vendedor'] != 'TI Integrador']

,id_cliente,apellidos,nombres,Sexo,direccion,distrito,Provincia,Departamento,telefono,celular,...,Empresa,Convenio Descripción,Cod. Acción Digital,IdChat,Estado Oportunidad,Fecha Oportunidad,Sede Oportunidad,Programa Oportunidad,Asesor Oportunidad,comentario
4,174080,ARROYO BALDEON,DIANA ROSMERI,Femenino,Mz. R Urb. Casa Huerta Sta Eulalia,Lurigancho,Lima,Lima,NaN,999133885,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
5,174080,ARROYO BALDEON,DIANA ROSMERI,Femenino,Mz. R Urb. Casa Huerta Sta Eulalia,Lurigancho,Lima,Lima,NaN,999133885,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
6,175636,León Gonzales,Katherine,Femenino,NaN,Ninguno,Lima,Lima,NaN,987161867,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
7,175636,León Gonzales,Katherine,Femenino,NaN,Ninguno,Lima,Lima,NaN,987161867,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
8,178826,LOZANO LOPEZ,KATSUMI,Masculino,Henando La Valle 126 Urb. Venegas,Santiago de Surco,Lima,Lima,2470275,980046772,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4254,3386126,PERALTA CARMELINO,FABIOLA,NaN,---,Ninguno,Lima,Lima,NaN,993747343,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4255,3386178,MUCHA PALOMINO,MARIANA NAYELY,NaN,---,Ninguno,Lima,Lima,NaN,995482272,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4256,3386178,MUCHA PALOMINO,MARIANA NAYELY,NaN,---,Ninguno,Lima,Lima,NaN,995482272,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4257,3386178,MUCHA PALOMINO,MARIANA NAYELY,NaN,---,Ninguno,Lima,Lima,NaN,995482272,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4258,3386492,Infantes Gutierrez,Mari cielo,NaN,---,Ninguno,Lima,Lima,NaN,995790456,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN

In [73]:
columns_mostar = [
    'id_cliente', 'apellidos', 'nombres', 'Asesor Contacto', 
    'Cod. Acción Digital', 'Estado Oportunidad', 'Fecha Oportunidad'
]

In [74]:
#1. SEPARAR CAMPAÑA

campania_24= data[(data['campania'] == 'Admision 24-2') & (data['accion'].isin(['Telemarketing', 'Whatsapp']))]
campania_25= data[(data['campania'] == 'Admision 25-1') & (data['accion'].isin(['Telemarketing', 'Whatsapp']))]
translados = data[(data['accion']=='Traslados')]

In [70]:
campania_24

,id_cliente,apellidos,nombres,Sexo,direccion,distrito,Provincia,Departamento,telefono,celular,...,Empresa,Convenio Descripción,Cod. Acción Digital,IdChat,Estado Oportunidad,Fecha Oportunidad,Sede Oportunidad,Programa Oportunidad,Asesor Oportunidad,comentario
0,161933,Sanchez Morales,Teresa Nicole,NaN,Jr Alvarado 324 Km 11,Comas,Lima,Lima,NaN,989372926,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
1,163051,flores,katherine,Masculino,Mz. C6 Lt. 21 0935 016 Urb. Ah 5de Mayo Pamplo...,San Juan Miraflores,Lima,Lima,2857075,989622941,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
2,169264,AUTOMATION,YONI,Masculino,Jr Alicantes 220,San Luis,Lima,Lima,3850347,975096970,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
3,172432,RODRIGUEZ PEÑA,DANA GABRIELA,Femenino,JR Alfonso Ugarte 755,Villa María del Triunfo,Lima,Lima,4960420,969797536,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4,174080,ARROYO BALDEON,DIANA ROSMERI,Femenino,Mz. R Urb. Casa Huerta Sta Eulalia,Lurigancho,Lima,Lima,NaN,999133885,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4256,3386178,MUCHA PALOMINO,MARIANA NAYELY,NaN,---,Ninguno,Lima,Lima,NaN,995482272,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4257,3386178,MUCHA PALOMINO,MARIANA NAYELY,NaN,---,Ninguno,Lima,Lima,NaN,995482272,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4259,3386492,Infantes Gutierrez,Mari cielo,NaN,---,Ninguno,Lima,Lima,NaN,995790456,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4261,3386553,RAMIREZ .,CARLOS,NaN,---,Ninguno,Lima,Lima,NaN,991482041,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN
4262,3386672,,POR COMPLETAR,NaN,---,Ninguno,Lima,Lima,NaN,901285735,...,NaN,NaN,NaN,NaN,NaN,1900-01-02,NaN,NaN,NaN,NaN

In [ ]:
#getionados= TODOS LO LEADS (tipo de respuesta)
#contactados= todos (- blacklist - evaluando)

In [110]:
filtro_asesor= campania_24.groupby('Asesor Contacto')
filtro_asesor

GESTIONADOS _ ASESOR

In [216]:
# Llamadas por vendedor
gestiones_por_vendedor = campania_24[campania_24['vendedor'] != 'TI Integrador'].groupby('vendedor')['id_cliente'].nunique().reindex(campania_24[campania_24['vendedor'] != 'TI Integrador']['vendedor'].unique(), fill_value=0)

gestiones_por_vendedor

vendedor
JOSE RAUL MENDEZ NONAJULCA     63
INGRID GUILLERMO RIVERA        33
Rosmery Enriquez              105
JACQUELINE CASTRO CASTRO       77
Angelica Iparraguirre          64
Andrea Araujo Antara           35
Cinthia Orosco                 21
Zulma Enilda Montero Aures      1
Lohana Rivera                   1
Stefano Napuri                  1
Fiorella Lanegra                9
Name: id_cliente, dtype: int64

CONTACTADOS

In [217]:

# Contactos únicos por vendedor excluyendo "Sin contacto"
contactos_unicos = campania_24[
    (campania_24['respuesta'] != 'Sin contacto') &
    (campania_24['vendedor'] != 'TI Integrador')
].groupby('vendedor')['id_cliente'].nunique().reindex(campania_24[campania_24['vendedor'] != 'TI Integrador']['vendedor'].unique(), fill_value=0)

contactos_unicos

vendedor
JOSE RAUL MENDEZ NONAJULCA     9
INGRID GUILLERMO RIVERA       11
Rosmery Enriquez              48
JACQUELINE CASTRO CASTRO       0
Angelica Iparraguirre         14
Andrea Araujo Antara           4
Cinthia Orosco                 5
Zulma Enilda Montero Aures     0
Lohana Rivera                  1
Stefano Napuri                 0
Fiorella Lanegra               0
Name: id_cliente, dtype: int64

CONTACTADOS EFECTIVOS

In [218]:
contactos_efectivos = campania_24[
    (campania_24['respuesta_2_nivel'].isin([
        'Programa visita a campus', 'Desea visita con el coordinador',
        'Con fecha', 'Costo muy alto - hasta 600', 'Costo muy alto - hasta 800',
        'Decide por otra institución - Otros', 'Decide por otra institución - Toulouse',
        'Decide por otra institución - UPC', 'Motivos personales/laborales',
        'Por distancia', 'Próxima campaña', 'Carrera de interés',
        'Pendiente decisión de padres', 'Revisión de convalidacion',
        'Revisión de escala de pago', 'Volver a llamar'
    ])) &
    (campania_24['vendedor'] != 'TI Integrador')
].groupby('vendedor')['id_cliente'].nunique().reindex(campania_24[campania_24['vendedor'] != 'TI Integrador']['vendedor'].unique(), fill_value=0)

contactos_efectivos

vendedor
JOSE RAUL MENDEZ NONAJULCA     3
INGRID GUILLERMO RIVERA        8
Rosmery Enriquez              24
JACQUELINE CASTRO CASTRO       0
Angelica Iparraguirre          4
Andrea Araujo Antara           0
Cinthia Orosco                 1
Zulma Enilda Montero Aures     0
Lohana Rivera                  1
Stefano Napuri                 0
Fiorella Lanegra               0
Name: id_cliente, dtype: int64

VALORACIONES POSITIVAS

In [219]:
valoracion_positivas = campania_24[
    (campania_24['respuesta_2_nivel'].isin([
        'Programa visita a campus', 'Desea visita con el coordinador',
        'Carrera de interés', 'Pendiente decisión de padres',
        'Revisión de convalidacion', 'Revisión de escala de pago',
        'Volver a llamar'
    ])) &
    (campania_24['vendedor'] != 'TI Integrador')
].groupby('vendedor')['id_cliente'].nunique().reindex(campania_24[campania_24['vendedor'] != 'TI Integrador']['vendedor'].unique(), fill_value=0)

valoracion_positivas

vendedor
JOSE RAUL MENDEZ NONAJULCA     0
INGRID GUILLERMO RIVERA        8
Rosmery Enriquez              12
JACQUELINE CASTRO CASTRO       0
Angelica Iparraguirre          2
Andrea Araujo Antara           0
Cinthia Orosco                 0
Zulma Enilda Montero Aures     0
Lohana Rivera                  1
Stefano Napuri                 0
Fiorella Lanegra               0
Name: id_cliente, dtype: int64

PROMESA DE PAGO

In [220]:

promesa_pago = campania_24[
    (campania_24['respuesta_2_nivel'] == 'Con fecha') &
    (campania_24['vendedor'] != 'TI Integrador')
].groupby('vendedor')['id_cliente'].nunique().reindex(campania_24[campania_24['vendedor'] != 'TI Integrador']['vendedor'].unique(), fill_value=0)
promesa_pago

vendedor
JOSE RAUL MENDEZ NONAJULCA    0
INGRID GUILLERMO RIVERA       0
Rosmery Enriquez              2
JACQUELINE CASTRO CASTRO      0
Angelica Iparraguirre         0
Andrea Araujo Antara          0
Cinthia Orosco                0
Zulma Enilda Montero Aures    0
Lohana Rivera                 0
Stefano Napuri                0
Fiorella Lanegra              0
Name: id_cliente, dtype: int64

VENTA

In [243]:

# Crear una serie con ventas por vendedor, excluyendo 'TI Integrador', con datos = 0 aprop
venta = campania_24[
    (campania_24['vendedor'] != 'TI Integrador') &
    (campania_24['vendedor'] == 'dsffs') ].groupby('vendedor')['id_cliente'].nunique().reindex(todos_vendedores, fill_value=0)

print(venta)

vendedor
JOSE RAUL MENDEZ NONAJULCA    0
INGRID GUILLERMO RIVERA       0
Rosmery Enriquez              0
JACQUELINE CASTRO CASTRO      0
Angelica Iparraguirre         0
Andrea Araujo Antara          0
Cinthia Orosco                0
Zulma Enilda Montero Aures    0
Lohana Rivera                 0
Stefano Napuri                0
Fiorella Lanegra              0
Name: id_cliente, dtype: int64

In [249]:
#metas
meta1 = [144] * len(gestiones_por_vendedor)
meta2 = [57] * len(contactos_unicos)
meta3 = [37] * len(contactos_efectivos)
meta4 = [17] * len(valoracion_positivas)
meta5 = [1] * len(promesa_pago)
meta6 = [1] * len(venta)
meta1

[144, 144, 144, 144, 144, 144, 144, 144, 144, 144, 144]

In [250]:
# Calcular el cumplimiento
cumplimiento1 = (gestiones_por_vendedor / meta1) * 100
cumplimiento2 = (contactos_unicos / meta2) * 100
cumplimiento3 = (contactos_efectivos / meta3) * 100
cumplimiento4 = (valoracion_positivas / meta4) * 100
cumplimiento5 = (promesa_pago / meta5) * 100
cumplimiento6= (venta/ meta6)*100
#reporte['Cumplimiento ventas'] = (reporte['ventas'] / reporte['Meta Ventas']) * 100

In [252]:
reporte = pd.DataFrame({
    'Asesor': gestiones_por_vendedor.index,
    'Gestiones': gestiones_por_vendedor.values,
    'Meta Gestiones': meta1,
    'Cumplimiento Gestiones': cumplimiento1.values,
    
    'Contactos Únicos': contactos_unicos.values,
    'Meta Contactos Únicos': meta2,
    'Cumplimiento Contactos Únicos': cumplimiento2.values,
    
    'Contactos Efectivos': contactos_efectivos.values,
    'Meta Contactos Efectivos': meta3,
    'Cumplimiento Contactos Efectivos': cumplimiento3.values,
    
    'Valoraciones Positivas': valoracion_positivas.values,
    'Meta Valoraciones Positivas': meta4,
    'Cumplimiento Valoraciones Positivas': cumplimiento4.values,
    
    'Promesas de Pago': promesa_pago.values,
    'Meta Promesas de Pago': meta5,
    'Cumplimiento Promesas de Pago': cumplimiento5.values,
    
    'Venta': venta.values,
    'Meta Ventas': meta6,
    'Cumplimiento Ventas': cumplimiento6.values
}).sort_values(by='Gestiones', ascending=False)

In [253]:


reporte.to_excel('Reporte.xlsx')

In [ ]:
#TOTLA ROW
"""
    totals = reporte.iloc[:, 1:].sum()
    total_row = pd.DataFrame({
        'Asesor': 'Total Asesores',
        'Visita': 0,
        'Counter': 0,
        'llamada': sum(llamada.values),
        'Sin contacto': sum(Sin_Contacto.values),
        'Perdidos': sum(Sin_Contacto.values),
        'Real Gestionados': sum(gestiones_por_vendedor.values),
        'Meta Gestionados': '',
        'Cumplimiento Gestionados': f"{sum(cumplimiento1) / len(cumplimiento1):.0f}%",  # Formatea como cadena
        'Real Contactados':sum(contactos_unicos.values),
        'Meta Contactados': '',
        'Cumplimiento Contactados': f"{sum(cumplimiento2) / len(cumplimiento2):.0f}%", # Formatea como cadena
        'Real Contactos Efectivos': sum(contactos_efectivos.values),
        'Meta Contactos Efectivos': '',
        'Cumplimiento Contactos Efectivos':  f"{sum(cumplimiento3) / len(cumplimiento3):.0f}%",  # Formatea como cadena
        'Real Valoraciones Positivas': sum(valoracion_positivas.values),
        'Meta Valoraciones Positivas': '',
        'Cumplimiento Valoraciones Positivas':  f"{sum(cumplimiento4) / len(cumplimiento4):.0f}%",  # Formatea como cadena
        'Real Promesas de Pago': sum(promesa_pago.values),
        'Meta Promesas de Pago': '',
        'Cumplimiento Promesas de Pago':  f"{sum(cumplimiento5) / len(cumplimiento5):.0f}%", # Formatea como cadena
        'Real Ventas': sum(ventas.values),
        'Meta Ventas': '',
        'Cumplimiento Ventas':  f"{sum(cumplimiento6) / len(cumplimiento6):.0f}%" # Formatea como cadena
    }, index=[len(reporte)])  # Añade la fila al final del DataFrame"""